[2017-09-25 04:48] wpo365 opened #1 "Remove wp-load.php"
Remove wp-load.php for loading wordpress on redirect and instead create a public url using wp's rewrite engine.

[2017-09-25 04:49] wpo365 opened #2 "Implement plugin activation and deactivation script"
* To set and remove rewrite engine rules
* Clean up options upon deactivation

[2017-09-25 04:50] wpo365 opened #3 "Debug flag not working as expected"

[2017-09-25 16:38] wpo365 commented on #1
Redirect now routed via intranet start and caught during session validation.

[2017-09-25 16:38] #1 closed

[2017-09-25 16:39] wpo365 commented on #3
Fixed

[2017-09-25 16:39] #3 closed

[2017-09-25 18:28] wpo365 opened #4 "Improve error detection in response sent by Azure Active Directory"
In case of an error (for example in the configuration) it's possible that the user ends up bouncing between Microsoft Login and the Wordpress Intranet. Instead, a possible error should be detected, bouncing prevented and the user redirected to the wp-login page (or a custom error page).

[2017-09-26 03:44] wpo365 opened #5 "Improve security and encrypt user id when saving in cookie"

[2017-09-26 03:45] wpo365 opened #6 "Add action extension point(s) (action hook) to current program flow"

[2017-09-26 03:46] wpo365 opened #7 "Make user role and password-change-prevention optional/configurable"

[2017-09-27 07:22] wpo365 opened #8 "Replace PHP session with own cookie to allow for PHP caching"
Using session_start() on each page load causes each page to be loaded from the server and virtually disable caching.

[2017-09-27 07:34] #8 closed

[2017-09-27 07:35] #5 closed

[2017-09-27 07:35] #6 closed

[2017-09-27 07:35] #7 closed

[2017-10-01 11:19] andrerav opened #9 "Doesn't work, can't login anymore"
Hi,

After configuring both Azure AD and this plugin I must have somehow misconfigured something. Now the login page on wordpress says that the O365 plugin is not yet configured, and I can't login with my regular user anymore either (it just fails silently and returns me to the login page).

I have moved the plugin away from the plugins directory to mitigate the situation.

How do I change the con

[2017-10-01 12:44] wpo365 commented on #9
Hi @andrerav ... I wasn't able to collect much feedback so far, so I am happy with every feedback and more than willing to support you until it's working.

**Log on with a Wordpress Only account**
First things first: If you're not able to log on using a Wordpress-only account then I suspect that you have a customized login page and that this page isn't called "wp-login.php". When you go to the "WP

[2017-10-01 13:03] wpo365 commented on #9
@andrerav I can confirm that I can reproduce the behavior of not being able to login with Wordpress-Only account when WPO365-login options are missing. I will post an update a.s.a.p.

[2017-10-01 13:17] andrerav commented on #9
Thanks, when I am able to login in again I will be able to provide you with more details about my WPO365 settings.

[2017-10-01 13:22] wpo365 commented on #9
@andrerav One more thing: The fact that Wordpress won't let you log on as normal Wordpress user anymore can be worked around when you navigate to /wp-login.php and make sure that the query string parameter redirect_to is not present. This causes the behavior you experienced. I will, however, look how this can be programmatically be avoided,, because it's pretty ugly :)

[2017-10-01 14:02] wpo365 commented on #9
@andrerav I've pushed version 1.6 to Wordpress this time it should be possible to log on as Wordpress-only user when WPO365 is not yet correctly configured.

[2017-10-01 14:04] andrerav commented on #9
Thanks, everything seems to be working now. However, I seem to have misunderstood the purpose of this plugin -- I only want the O365 authentication to kick in for wp-admin, not the entire site :) Is this possible to do?

[2017-10-01 14:05] wpo365 opened #10 "Login Error Message(s) not deleted after shown once on login page"

[2017-10-01 15:09] wpo365 commented on #9
Thanks @andrerav ... Right now it works exactly the other way around: Authenticating O365 users for Wordpress front-end and creating corresponding WP users if not already created. I can take this into consideration but may arrive a days / weeks from now. Ps, I'll close the issue for now and a rating over at the [Plugin Directory](https://wordpress.org/plugins/wpo365-login/) is of course highly app

[2017-10-01 16:20] andrerav commented on #9
Alright, would be really nifty if WPO365 only kicked in if a user tried to login :) I can add that as a separate issue with a more detailed description.

[2017-10-02 18:12] wpo365 commented on #9
@andrerav If you want, you can have a look whether the latest update meets your requirements. I have updated the readme.txt and you can now choose between an 'intranet' and an 'internet' scenario (see the admin-dashboard --> WPO365 Options --> User Management tab).

Here you'll find an updated description [readme.txt](https://wordpress.org/plugins/wpo365-login/)

[2017-10-02 19:32] andrerav commented on #9
Hi and thanks! For existing users, this works great! However, users that don't have a matching Wordpress account will [see this message](https://i.imgur.com/2Hs1eCq.png) when trying to log in.

[2017-10-02 19:59] wpo365 commented on #9
Would it be possible to post (or send me by mail at info@wpo365.com, you have to check whether or not it contains any confidential information) the Wordpress debug log? Because this could mean that the decryption of the information received from MSFT was not successful for some reason.

The idea is basically that the plugin will create a Wordpress user for every Azure Active Directory user. When T

[2017-10-03 03:37] wpo365 commented on #9
@andrerav I strongly suspect that you test the plugin on a (local host) test environment and that your PHP configuration is not correctly set up to access your Certifcate Authority (CA). The plugin requires this access because it wants to verify the SSL host its contacting when getting the information from Azure Active Directory. To configure your environment properly, you can proceed as follows:

[2017-10-05 07:40] wpo365 opened #11 "Can't use function return value in write context"
Fatal error: Can't use function return value in write context in /var/www/html/pp/wp-content/plugins/wpo365-login/Wpo/Aad/Auth.php on line 298

[2017-10-05 09:47] #11 closed

[2017-10-16 14:49] wpo365 commented on #9
@andrerav I have released an updated version of our plugin that won't validate the SSL host and peer (but it can be activated with a new setting). Let me know if this may have solved your problem and if I can be of any further assistance.

[2017-10-17 13:42] ALNSBroadside opened #12 ""Your login might be tampered with.""
Hi there,

I'm having a similar issue to #9 in that when I try to go to /wp-admin, it takes me to the MS login as expected, but then after I login it takes me to the wp-login.php with the error "Your login might be tampered with. Please contact your System Administrator."

This is from my error_log:
[17-Oct-2017 13:23:26 UTC] DEBUG (7.1.7): Checking whether user is O365 user -> Not logged on
[17-O

[2017-10-17 21:32] wpo365 commented on #12
Hi

Thanks for reporting this. From the log file I can see that all goes perfectly well up and till the moment the plugin is about to decode the token received from Microsoft. Since this behavior is not reproduced on our test systems it may take me a bit of time but I will try and do some more research into alternative ways of formatting the input just before it will be decoded.

Thanks for your p

[2017-10-18 06:16] wpo365 commented on #12
Hi @ALNSBroadside

I've just uploaded an slightly improved version to Wordpress. You should see in your wp-admin that there is an update available. I can't promise it will solve the issue at hand, as I can't tell for sure what's causing. I'm guessing one of the following issues:

1. Algorithm not supported
2. Algorithm name not upper case and hence not recognized
3. Token not properly formatted

I

[2017-10-18 07:56] ALNSBroadside commented on #12
Thank you for the quick response!  I've just tried it again after updating. It's no longer taking me to the login screen with the error anymore - instead if I try to go to wp-admin (for example), it goes through the whole login procedure, then takes me back to the home page, but not logged in.  It doesn't seem to have created the user either.

This is from the error_log:
[18-Oct-2017 07:52:53 UTC]

[2017-10-18 07:59] ALNSBroadside commented on #12
I've just tried it in "intranet mode" and this time it just takes me in a loop around logging in on the MS page.  Logs:

[18-Oct-2017 07:57:23 UTC] DEBUG (7.1.7): Checking whether user is O365 user -> Not logged on
[18-Oct-2017 07:57:23 UTC] DEBUG (7.1.7): Validating session for page index.php
[18-Oct-2017 07:57:23 UTC] DEBUG (7.1.7): Destroying session index.php
[18-Oct-2017 07:57:23 UTC] DEBUG (

[2017-10-18 10:54] wpo365 commented on #12
Thanks @ALNSBroadside  and basically: This is good news :) I think it may be possible that you missed one configuration step:

Last but not least, grant permissions to the App by clicking Required Permissions on the Settings blade and then Grant Permissions (as an Administrator on behalf of all your users). Failing to do so may result in an error when users try to log on to your intranet.

![image

[2017-10-18 12:16] ALNSBroadside commented on #12
Hmm, I had already done that. Just did it again though to be safe
![capture](https://user-images.githubusercontent.com/32873361/31717982-0c28032a-b406-11e7-8d09-8ce9a0d735fd.PNG)
But still the same thing unfortunately :(

Trying to go to wp-admin in internet mode just does this:
[18-Oct-2017 12:09:10 UTC] DEBUG (7.1.7): Checking whether user is O365 user -> Not logged on
[18-Oct-2017 12:09:10 UTC]

[2017-10-18 13:30] wpo365 commented on #12
@ALNSBroadside I have uploaded a new version of the plugin (1.11). This doesn't do anything else, so it won't solve the problem. However, it seems that the login is basically OK and your AD app is registered OK or else the flow would have stopped earlier. However, after login the plugin receives instead of a user id most likely an error message. So far this error wasn't caught and this has now cha

[2017-10-18 13:43] ALNSBroadside commented on #12
Ooh, that helped!

The log now gives me:
[18-Oct-2017 13:37:22 UTC] ERROR (7.1.7): AADSTS50105: The signed in user is not assigned to a role for the application \'cc57c2d6-d70c-4a8b-9e95-380794deafe8\'.

The rest of it goes:
Trace ID: 4861b0ac-f55d-4e00-b1d9-5d23bfc6c200
Correlation ID: b7e46104-c80d-4a7d-87f6-7d8fbf4c493f
Timestamp: 2017-10-18 13:37:22Z
[18-Oct-2017 13:37:22 UTC] DEBUG (7.1.7): C

[2017-10-18 13:52] ALNSBroadside commented on #12
Gah I thought we had it there. In Azure AD I went to Enterprise Applications, found the application and went to properties and it has additional settings, one of which is "User assignment required?" set to yes.
I set it to "No" and saved it.
Tried logging in again and.... it takes me back to the wordpress login screen with "Your login might be tampered with. Please contact your System Administrato

[2017-10-18 15:56] wpo365 commented on #12
@ALNSBroadside I think I know what is causing this (last) hick up: I didn't test with Internet Explorer (or other browsers than Chrome) after I had to change from using session variables to own cookies. And it seems in Internet Explorer (other than in Chrome) that the cookies don't "stick" currently ... I'll be uploading a solution as soon as I have one but possible you could test with Chrome to s

[2017-10-18 16:54] wpo365 commented on #12
@ALNSBroadside I've updated the plugin and published version 1.12 and tested it successfully with IE 11. Hope this will do the trick and also hope you haven't lost hope either! Thanks and look forward to hearing your feedback to this version.

[2017-10-19 08:31] ALNSBroadside commented on #12
No hope lost, sticking with it! And thank you for sticking with it too :)

I was using Chrome unfortunately (Version 61.0.3163.100). I'll update and give the new version a go this morning though!

[2017-10-19 08:36] ALNSBroadside commented on #12
D'oh, still the "login might be tampered with".

Error log:
[19-Oct-2017 08:33:34 UTC] DEBUG (7.1.7): Processing incoming OpenID Connect id_token
[19-Oct-2017 08:33:34 UTC] DEBUG (7.1.7): Processing an new id token
[19-Oct-2017 08:33:34 UTC] DEBUG (7.1.7): Algorithm found RS256
[19-Oct-2017 08:33:34 UTC] DEBUG (7.1.7): Skipping SSL peer and host verification
[19-Oct-2017 08:33:34 UTC] DEBUG (7.1.7

[2017-10-19 09:35] wpo365 commented on #12
Hi @ALNSBroadside, I don't think you need to go through all that trouble. Looking at the Log File it seems the authentication flow is OK. However, the plugin sets a cookie with a value that is also sent along with the request to Microsoft and it seems this cookie is missing when the validation flow continues upon returning from logging in. What browser are you using?

[2017-10-19 09:47] ALNSBroadside commented on #12
Using Chrome 61.0.3163.100 here!

Hmm, you've just given me a thought there - I'm stuck behind a proxy we don't control (the website is out on the internet though, not behind the proxy with us). I wonder if that could be stripping something out?

[2017-10-19 09:57] wpo365 commented on #12
Then it's me doing something terribly wrong when setting the cookie :) I will add some additional logging to verify that this is indeed the problem.

[2017-10-19 10:26] wpo365 commented on #12
@ALNSBroadside I have uploaded version 1.13 and changed how cookies are set (now almost identical to the way Wordpress is setting them) and added additional logging that would show whether or not the nonce cookie is found. Would be really great if you can give it another try!

[2017-10-19 11:23] ALNSBroadside commented on #12
Ooh, that's got it!

I'm logged in as a subscriber and it's created the user and taken me to the user dashboard! Just tried with a second user too and yup it works!

Logs in case you want to see anything:
[19-Oct-2017 11:19:54 UTC] DEBUG (7.1.7): Checking whether user is O365 user -> Not logged on
[19-Oct-2017 11:19:54 UTC] DEBUG (7.1.7): Cancelling session validation for page index.php because se

[2017-10-19 11:50] wpo365 commented on #12
@ALNSBroadside Fantastic! This was very valuable for me and for the plugin ... I guess I need to send you some wonderfully smelling Swiss Cheese to say thanks :) If it is OK for you then I will close this issue. But please feel free opening new issues if you'd like to request a new feature or if you uncover new untested areas. Ps, Did it take the user to his/her dashboard because you entered that

[2017-10-19 14:32] ALNSBroadside commented on #12
Haha not at all - I'm pretty sure I owe you one for sticking with it! Thank you very, very much and you have an awesome plugin :D

I think it took them there because I'd tried going to wp-admin, but as a subscriber they don't get the full thing, just the dashboard so when it tried to redirect to wp-admin it took me there.

Just confirmed actually - I set the default role to "Editor" and logged in

[2017-10-20 04:44] wpo365 commented on #12
@ALNSBroadside In that case I'll keep the cheese in Switzerland. I guess it would have stirred some uproar at the border anyway :)

Ps, Feel free to rate the plugin over at the WP plugin directory https://wordpress.org/plugins/wpo365-login/

[2017-10-20 04:44] #12 closed

[2017-10-23 11:57] andrerav commented on #9
Everything seems to work perfectly now after updating to 1.13. Thanks!

[2017-10-23 11:57] #9 closed

[2017-10-27 13:00] kishoresahas opened #13 "External users (B2B) not able to login"
External users are not able to login.
For eg : I have registered with sample.com AAD.

Not working for external users, who are invited with the below setup.
https://docs.microsoft.com/en-us/azure/active-directory/active-directory-b2b-what-is-azure-ad-b2b

[2017-10-27 13:24] wpo365 commented on #13
I haven't been able to test this thus far, but I'm quite sure that this requires additional configuration in your Azure AD so that external users have access to the App you registered for this. See "Admins adding guest users to an application" here (link)[https://support.office.com/en-us/article/Enable-or-disable-auto-acceleration-for-your-SharePoint-Online-tenancy-74985ebf-39e1-4c59-a74a-dcdfd678

[2017-10-28 10:14] wpo365 commented on #4
Closed with v1.13

[2017-10-28 10:14] #4 closed

[2017-10-30 11:47] wpo365 commented on #13
No news is good news so I'm closing this issue. Feel free to reopen it if the issue is not resolved.

[2017-11-01 08:30] kishoresahas commented on #13
That didnt solved my issue ..
Are you using Graph Api ? I go this below reference ..
https://stackoverflow.com/questions/42095475/graph-api-requests-for-guest-users-in-azure-ad

[2017-11-01 12:41] wpo365 commented on #13
@kishoresahas If you go to the Admin Dashboard and open the WPO365-Options page then you'll find a Miscellaneous section. Here you can check "Debug". This will write a lot of information in the wp-content\wp-debug.log file (this file may also be created somewhere else, depending on your Wordpress configuration). When you repeat your steps on more time in Debugging mode and post the logfile here or

[2017-11-01 13:30] kishoresahas commented on #13
I have send the log file to you email [info@wpo365.com](mail:info@wpo365.com)

[2017-11-01 14:01] wpo365 commented on #13
@kishoresahas I noticed a few things. First of all, can you please update the plugin to the latest version. I can't tell what version you use, but in a somewhat older version there was a problem with setting cookies but this should now be resolved.

Then I see that for at least one user (with Wordpress id #2) it seems to work fine. But then I guess you try to logon with an external user and you re

[2017-11-01 14:07] wpo365 commented on #13
My guess is that you need to add some additional configuration when you go portal.azure.com and then click "Azure Active Directory" > "Enterprise Application" > "All Application" and then click the application you created for the WPO365-login plugin (as described here https://www.wpo365.com/how-to-install-wordpress-office-365-login-plugin/). Maybe this link is helpful https://docs.microsoft.com/en

[2017-11-09 18:33] kishoresahas commented on #13
Quick update on this: Problem will be solved with the latest version 2.3.

[2017-11-09 18:33] #13 closed

[2017-11-28 11:09] #10 closed

[2017-11-28 11:09] #2 closed

[2017-12-27 17:46] mgarf opened #14 "SSO/Standard Login"
This plugin is great, would love to see the ability when navigating to wp-admin to select between regular sign in or SSO rather than having two separate urls.

[2017-12-29 18:12] mgarf opened #15 "Can't Login with WWW only without"
When trying to login into the wordpress site and using www in the URL. it redirects to microsoft and then back to the wordpress standard login screen with a "Login may have been tampered with" message. However without WWW i am able to login fine.

[2017-12-29 18:56] wpo365 commented on #15
Hi ... Am I right when I assume that you can login when you don't use WWW? You will see the error "Login may have been tampered with" when a cookie that stores a validation token cannot be found. So my guess is that a cookie has been set for http://example.com but the return address configured is http://www.example.com. I suspect that the plugin therefore cannot find the cookie. It's difficult to

[2017-12-29 23:39] mgarf commented on #15
gotcha, thank you. Ill fiddle based on what you suggested. I appreciate the quick response!

[2018-01-08 17:29] evgcardoso opened #16 "Use a white list for domains able to authenticate in a multi-tenant application environment"
I am working on a multi-tenant application based on wordpress to offer to my customers and your plugin is handling the authentication part perfectly when using a multi-tenant app on AAD and setting the tenant ID to common on the plugin configuration. The only thing that is missing is the ability to define a white list of the domains I want to authorize to authenticate this way, so that I can preve

[2018-01-10 08:36] wpo365 commented on #16
I see where you coming from and I agree that this makes sense. I will update the plugin shortly. Having said that I found that another issue with this scenario is the fact that the WPO365 Options are visible to all admin (since the plugin must still be network activated). As an alternative, I've created for a project of my own a version where all settings are configured as global variables and can

[2018-01-10 08:37] wpo365 commented on #15
Thanks for you support and feedback to help improve the plugin. I will now close this issue, as it was resolved.

[2018-01-10 08:37] #15 closed

[2018-01-14 22:00] wpo365 commented on #16
@evgcardoso I have updated the plugin and added an option to white list domains. It compares a user's email (smtp) domain with entries in that list. So the plugin now works as follows:
1. No domains white listed => works as before i.e. all domains are accepted for user registration.
2. Domain(s) white listed => only users with email host found in the white list can register.
Let me know if this so

[2018-01-15 16:49] G2Ocean opened #17 "Could not find expected key in keys retrieved from Microsoft"
Hi - we are experiencing a redirect loop after logging in to our intranet via wpo365 plugin (version 3.0). We have added the required trailing slash as described her https://www.wpo365.com/troubleshooting-the-wpo365-login-plugin/ so this should not be the problem.

Examining the log files after enabling debugging mode, I find the "Could not find expected key in keys retrieved from Microsoft" error

[2018-01-15 20:23] wpo365 commented on #17
Hi @G2Ocean , it's a bit difficult to guess what the reason could be. It sounds, as if you would be able to dump the keys you receive as well as your KID and send them over to me. If so, then I'd like to have a look ... The code was changed for version 2.9 as it turned out that the structure of the file had changed. However, right now I cannot reproduce any such behavior at my end. Another issue m

[2018-01-15 22:23] G2Ocean commented on #17
Thanks. Keys + kid submitted by email.

[2018-01-30 17:00] techinaflash opened #18 "Errors/redirect to wp-login (sometimes)"
These are the errors that I get when traveling to the root of my site.  Sometimes I don't get these errors and it goes through no issue.

Warning: Cannot modify header information - headers already sent by (output started at /home/flashadmin/public_html/kb/wp-login.php:75) in /home/flashadmin/public_html/kb/wp-content/plugins/wpo365-login/Wpo/Util/Helpers.php on line 22

Warning: Cannot modify hea

[2018-02-07 12:54] techinaflash commented on #18
Anyone out there in support land?

[2018-02-07 17:28] wpo365 commented on #18
Hi @techinaflash ... Yes, somebody's here and I'm really sorry to take so long to respond. I must have slipped my attention.

There are a few things happening here:
1. The error "Cannot modify header information" seems to indicate that when the login plugin is verifying whether the user is authenticated, Wordpress has already started sending a response. This may be caused by another plugin or them

[2018-02-13 00:16] stevegroner commented on #16
So would this also handle restricting the application to specific groups in Azure AD?  Right now, when the person tries to authenticate when I have a SEC group assigned to the application in Azure AD, if they do not pass validation it send the user to the wp-login page, but with a bunch of error complaining about modifying headers that have already been sent.

We have multiple domains in the same

[2018-02-15 10:00] asoet commented on #12
Just installed the plugin and I have the same problem with the same logs:

Validating session for page index.php
[15-Feb-2018 09:54:48 UTC] DEBUG ( 5.6.33 ): Cannot look up user meta WPO365_AUTH for user that is not logged
[15-Feb-2018 09:54:48 UTC] DEBUG ( 5.6.33 ): Getting fresh id and authorization tokens: https://login.microsoftonline.com/[tenantname]/oauth2/authorize?client_id=[clientId]&resp

[2018-02-16 06:53] wpo365 commented on #18
@techinaflash In version 3.5 the plugin starts sooner than before with validating the session. This should prevent the first type of error "Cannot modify header information".

However, the error  "your login may be tampered with" most likely occurs, because the URL used when you return from Microsoft's login screen to your Wordpress site is ever so slightly different. The most likely differences a

[2018-02-16 06:59] wpo365 commented on #16
Hi @stevegroner In version 3.5 the session validation will start as soon as possible. Ideally this means that in your case authentication happens before headers are already sent. Basically the error "cannot modify headers ..." is because the plugin "aborts" execution of the current request when it sends the current user to the login page. However, session validation should run before any response

[2018-02-16 07:01] wpo365 commented on #14
Hi @mgarf ... What you mean precisely with "having two separate urls"? Do you mean that you can navigate to /wp-login.php and login with a Wordpress-only account?

[2018-02-16 13:26] mgarf commented on #14
Yep. So instead of a instant redirect it has the option of WordPress regular sign in or Single Sign On

[2018-02-17 19:26] stevegroner commented on #16
Ok, I set (2) domains in the domain whitelist.  When I attempt to login with a user that is not one of those, it does not graceful handle that.  Here is a the text of the error.  The only plugins installed on this site are also listed below.

Warning: Cannot modify header information - headers already sent by (output started at /home/itcawgcap/public_html/wp-login.php:75) in /home/itcawgcap/public

[2018-02-18 09:34] wpo365 commented on #16
@stevegroner Please try and update to version 3.6. I've updated the way the plugin now passes error information between pages and no cookies are used anymore. Therefore the warnings should no longer appear.

[2018-02-18 16:16] stevegroner commented on #16
After installing 3.6 I cannot even open the site.  I receive this message immediately when the site tries to load.

Fatal error: Arrays are not allowed in class constants in /home/reservationscawg/public_html/wp-content/plugins/wpo365-login/Wpo/Util/Error_Handler.php on line 24

[2018-02-18 16:19] stevegroner commented on #16
If you want I can privately send you some test logins to our tenant to play with.  Just let me know.

[2018-02-18 16:52] wpo365 commented on #16
@stevegroner many thanks for bringing this to my attention. I strongly suspect that this has to do with a somewhat older version you may be using of PHP. I've updated the plugin with version 3.7 and implemented a work-around.

[2018-02-18 17:05] stevegroner commented on #16
Yes, I can confirm this works.  So it appears that perhaps your using session variables now?  Once the USER_NOT_FOUND , the only way to get rid of it, is to close all browser windows for that browser type, correct?

[2018-02-18 17:13] stevegroner commented on #16
BTW, PHP version is 5.4.45

[2018-02-18 17:18] wpo365 commented on #16
It's not an environment variable but it's added as a wp query variable to the URL. So as long as you just refresh this page, the URL won't change and you'll see this (wp) query string variable. But it should not behave like a session variable. In other words, when you navigate away from the login page, the login_errors" query string variable should be gone (unless the same error occurs of course a

[2018-02-18 17:27] stevegroner commented on #16
Just for clarification, we have multiple domains under our tenant.  I am hitting the site using a login that is valid in our account, but does not meet the domain whitelist requirements.  Therefore is successfully authenticates the user and sets the local token.  Then it tries to check the domain whitelist.  When that fails which it should, when you navigate away and come back, the MSOL token for

[2018-02-18 17:42] stevegroner opened #19 "Pull Full Microsoft User Profile including Security Groups"
Would be great if we could pull the full user profile data from Microsoft including security groups and then in the WP settings be able to enter names of security groups the user needs to be part of in order to authenticate.  This way we could be more granular with who has access to the sites based on AzureAD security group membership.  This would mean that you would need to somehow destroy the to

[2018-02-18 17:45] wpo365 commented on #16
@stevegroner yes and no ... it's kind of a two-worlds thing: A user that successfully signed in with Microsoft may still not be able to authenticate with Wordpress. The Wordpress authentication always happen after the user returns from Microsoft (which will only happen when he/she successfully authenticated). The plugin, in that case, gets two pieces of information from Microsoft: 1. Login (with M

[2018-02-18 17:52] stevegroner commented on #16
Sure, I understand.  Chicken or the egg situation.  You do not know their actual domain until they are authenticated, which is being passed into the system.  Perhaps my other suggestion will resolve this issue.  I posted another issue (enhancement request).  Perhaps that will help to address this issue.  Not sure how deep you want to go with this plugin, but I am simply making the request as it wo

[2018-02-18 17:55] wpo365 commented on #16
Thanks for the input adn feedback @stevegroner  Would be great if you would recommend it to others over at the Wordpress plugin directory https://wordpress.org/plugins/search/wpo365-login/ ...

[2018-02-18 18:04] stevegroner commented on #16
Done!  Awesome...

[2018-02-20 19:28] brandontravis commented on #19
second

[2018-03-14 10:57] AlbertFranz opened #20 "Search Center Page not found"
In the documentation https://github.com/wpo365/wpo365-documentation/wiki/wpo365-spo-configuration i can see:
Add menu item for Search Center:
The Plugin has added a Search Center page to your Wordpress pages which you can manually add to your menu.
I've configured "WPO365 Options" and "SPO365 Option". But no "Search Center Page" site was created. If I create this page myself, what do I have to ent

[2018-03-22 09:16] sebastiangug opened #21 "'login tampered with' redirect when clicking on a link from powerpoint (i know, i know...)"
So this is a weird one. I've been through some errors in the past when trying to access the HTTP version of things would result in a redirect to wp-login page and getting a 'tampered with' message and all that.

Fixed it by forcing seo-safe redirect to HTTPS of HTTP and now all is good and bright.

But this is a proper weird one here.

I've tested it extensively in every environment I can think of

[2018-03-22 09:20] sebastiangug commented on #21
Googled a few issues with links within office products and how they handle things. turned out all I had to do is add this in the apache/nginx settings:

RewriteEngine on
RewriteCond %{HTTP_USER_AGENT} ms-office [NC]
RewriteRule ^.* - [R=200,L]

Thanks anyway!

[2018-03-22 10:49] wpo365 commented on #21
The issue with Word and Office Applications in general is that they handle the connection internally. This means that the Office application creates a "private" connection separate from the existing one and this connection is without the necessary authentication tokens and cookies at first.

[2018-03-22 10:55] sebastiangug commented on #21
I see, thanks! Really great plug-in by the way!

[2018-03-22 10:55] #21 closed

[2018-03-22 11:37] wpo365 commented on #21
Thanks! You are more than welcome to leave a review :) https://wordpress.org/plugins/wpo365-login/#reviews

[2018-03-22 11:39] sebastiangug commented on #21
Already have! :)

[2018-04-15 20:50] wpo365 commented on #19
@stevegroner and @brandontravis please have a look at the new premium version of the plugin https://www.wpo365.com/downloads/wordpress-office-365-login-premium/ and for a brief introduction on how to configure it you can read the updated installation guide https://www.wpo365.com/how-to-install-wordpress-office-365-login-plugin/#accesscontrol

[2018-04-15 21:31] brandontravis commented on #19
Looks pretty amazing. I've hacked your original plugin to pieces and
accomplished what I needed but I'm sure your premium plugin does a better
job. Thanks!

On Sun, Apr 15, 2018, 4:50 PM WPO365 <notifications@github.com> wrote:

[2018-04-26 09:52] eyersee opened #23 "Setup Error?"
After setting up the authentication tool I am getting routed to the below URL
Can I ask for some help with this please, I have looked through all the manuals and alike for help
Domain Name:  http://mslit.net

URL:
https://login.microsoftonline.com/https://sso.ms.org.au/oauth2/authorize?client_id=91605fd0-de30-4e49-ad32-xxxxxxxxxxxx&response_type=id_token+code&redirect_uri=http%3A%2F%2Fmslit.net%2F

[2018-04-26 09:55] eyersee commented on #23
I should note after setting up the tool I think that now I am read only in the admin account, thus I am not sure how I will be able to edit the settings now?

[2018-04-26 10:52] wpo365 commented on #23
Hi  @eyersee

Firstly, I've updated your initial issue to obscure some of your private details e.g. client id etc.

Secondly, it is expected that you are redirected to Microsoft. This is basically what the plugin does: Redirect you to Microsoft so you can authenticate with your corporate account. When you are already logged on, you will be automatically be redirected back to your WordPress site ..

[2018-04-26 10:54] wpo365 commented on #20
@AlbertFranz I am terribly sorry to have missed this issue. You are right and the Search Center can be added manually to a page using the following shortcode "[wpo365-search-center-sc]".

[2018-04-26 10:55] #17 closed

[2018-04-26 21:43] eyersee commented on #23
Thank you for your help.
Progressed to now getting this error
Message:  AADSTS90014: The request body must contain the following parameter: 'client_id'.

[2018-04-27 05:14] wpo365 commented on #23
Hi @eyersee Have you seen the online documentation on our website https://www.wpo365.com/wpo365-login-documentation/ If you follow this, you should be up and running in 5 to 10 minutes ...

[2018-04-27 08:45] suffolklibraries opened #24 "Logins fail and redirected to wp-login.php with 'Tampered with' message"
Hi there,

Most of our logins have started to fail. What was an intermittent problem has become more common over the last couple of days, to the extent that most logins fail.

Visitors are redirected to O365 for login. When they enter their credentials the login fails and users are redirected to wp-login.php They also get a message saying their login may have been tampered with.

The Azure AD repl

[2018-05-02 18:19] dmstickman opened #25 "Login might be tampered with ERROR"
Just set up the plug-in, and I get the tampered error every time I try to authenticate. I have made sure that the web URL matches in both places exactly. All other items have been copied and pasted and match.

Here is the log:

[02-May-2018 18:11:59 UTC] DEBUG ( 5.3.29 ): Validating session for page index.php
[02-May-2018 18:11:59 UTC] DEBUG ( 5.3.29 ): Cannot look up user meta WPO365_AUTH for use

[2018-05-03 06:15] wpo365 commented on #25
Can you please update to the latest version 3.12? We have updated the nonce-algorithm and the error **Your login has been tampered with [hash does not match]** should not occur, if your WordPress and the plugin are properly configured. Feedback is much appreciated!

[2018-05-03 07:19] #19 closed

[2018-05-03 07:19] #23 closed

[2018-05-03 11:54] dmstickman commented on #25
I installed it for the first time yesterday, and it is on the latest version (3.12) already. Any other ideas I can try? Thank you!

From: WPO365 [mailto:notifications@github.com]
Sent: Thursday, May 3, 2018 2:16 AM
To: wpo365/wpo365-login <wpo365-login@noreply.github.com>
Cc: Daniel Martin <daniel.martin@permaloc.com>; Author <author@noreply.github.com>
Subject: Re: [wpo365/wpo365-login] Login mig

[2018-05-03 12:10] wpo365 commented on #25
You mean you updated this morning (because 3.12 was only released today this morning)? Can you please have another look at the log file? If it is really the same error, then there must be some caching issue, because the algorithm to test the nonce is the same for when it's created and when it's validated on return. It's virtually impossible that you run into the same error ...

[2018-05-03 12:13] dmstickman commented on #25
Good news! I just tried it and it works now. I wonder if my plug-in auto-updated to 3.12 this morning and that fixed it. Either way, I’m good now! Thank you so much.

From: WPO365 [mailto:notifications@github.com]
Sent: Thursday, May 3, 2018 8:10 AM
To: wpo365/wpo365-login <wpo365-login@noreply.github.com>
Cc: Daniel Martin <daniel.martin@permaloc.com>; Author <author@noreply.github.com>
Subject:

[2018-05-03 12:27] dmstickman commented on #25
Spoke slightly to soon….the authentication works, it creates a new user based on the O365 user info, but it never redirects the page back to the site URL. Any ideas on that one?

It worked on the first one I tried because that was my login and I already had an account in WP.

From: WPO365 [mailto:notifications@github.com]
Sent: Thursday, May 3, 2018 8:24 AM
To: wpo365/wpo365-login <wpo365-login@no

[2018-05-03 12:56] wpo365 commented on #25
So where are you "stuck"? I presume you're being redirected back from Microsoft, right? If you want you can send me your log file at info[at]wpo365[dot]com and I'll have a look ...

[2018-05-07 10:16] kshivks opened #26 "Same Authentication for both application"
Currently I have one mobile app, it's using Azure AD for authenticating users . Now I have developed one WordPress site and it's using Azure AD(Wordpress+office 365 login) for authenticating users. Now I have to integrate my WordPress site to my mobile app. My question is while clicking this WordPress app page in mobile app it's should not ask for login again to authenticate. Instead of it, it has

[2018-05-07 11:43] wpo365 commented on #26
@kshivks Sorry to say, but this scenario is currently not supported. Not because the plugin does not support it, but because you use two separate Azure AD protected resources. However, if your mobile app is also browser based and the user has successfully authenticated and you'd then redirect him / her to WordPress then the user will be redirected to Azure AD only to discover that the user is alre

[2018-05-16 21:52] MLWDev opened #27 "Problem allowing api endpoint through"
Hi,

I can see that you are able to add files to be ignored by the validation but how would I go about adding an app endpoint?

When I try make a request to http://my site.com/apiendpoint my request is redirected to the login page for 365.

Thanks

[2018-05-16 22:26] wpo365 commented on #27
What would be the URL of the executing script? Because the $_SERVER[ 'PHP_SELF' ] would be compared with the pages blacklist. So if the executing script would be at "http://example.com/foo/bar.php" then the that would resolve as "/foo/bar.php" and then you'd need to try and add that to the pages blacklist.

[2018-05-16 22:33] MLWDev commented on #27
The call to the api is from a .js file. http://example.com/foo/bar.js

It's a rest api endpoint

Thanks,

[2018-05-17 21:58] wpo365 commented on #27
Right now this is a bit difficult to answer because I'm quite sure WPGraphQL uses rewrite rules and hence the endpoint may not be what it seems. Hence you'd need to investigate a bit and try to understand which script is really executing the request and try and add that script to the blacklist. Hope this makes sense ...

[2018-05-22 08:10] MLWDev commented on #27
Makes total sense. Unfortunately when adding this route the application stops redirecting any page to login.

I will keep looking into it.
Thanks

[2018-05-23 22:31] Jatin1989 opened #28 "Cannot logout"
Trying to setup intranet with authentication from Azure. Login works fine but for some reason cannot logout? keeps redirecting me back to the same page. Can someone please help. Thanks in advance.

[2018-05-30 12:53] kmnathancse opened #29 "JWT Exception"
Team,

This plugin was working fine for few days and all of sudden it is giving the PHP error that

 Fatal error: Class ‘Firebase\JWT\ExpiredException’ not found in E:\xampp\htdocs\wp-content\plugins\wpo365-login\Firebase\JWT\JWT.php on line 142

I tried to update plugin to latest version and did not help. i did not setup leeway value. if i set that up it is giving an error that login is tampered.

[2018-05-30 14:15] wpo365 commented on #29
The error that the class not found is a bug and will be fixed with the next update. However, this won't solve your problem. The login information that the plugin receives from Microsoft contains a timestamp until when the information is considered valid and this timestamp is compared with the server's time. Now, if your server is returning the wrong time e.g. because the server time is suddenly wr

[2018-05-30 14:16] wpo365 commented on #28
Do you maybe have other plugins that may cause this behaviour? Because when a user would logout from WordPress the default WordPress behaviour would be that the user is redirected to the login form e.g. wp-login.php. And this page is by default blacklisted by our plugin, meaning that our plugin won't intercept requests to wp-login.php to try and validate a user's authentication. If you have anothe

[2018-05-30 14:17] #26 closed

[2018-05-30 14:17] #25 closed

[2018-05-30 14:18] #24 closed

[2018-05-30 14:20] #18 closed

[2018-05-30 21:04] Jatin1989 commented on #28
Hi. Thanks heaps, i realised that and now it works perfectly. Can you also please suggest if i redirect users to another page after logout rather than standard wp-login what would be the best way to achieve?

[2018-05-31 12:28] #29 closed

[2018-06-15 14:51] sdittmannvitalyst opened #30 "Premium update fail"
We are using your premium plugin on an internal Intranet site. When I try and update to version 3.1, it just sits there forever in maintenance mode. We have the latest version of WP.

[2018-07-26 09:31] mw-tim opened #31 "Get access token for use with other Microsoft API's"
Hi, I used to be able to get the access token from the cookies when logged in which I then used for doing active directory queries. However after using the most recent version I can no longer do this. How is it possible to get the access token when logged in?

[2018-07-28 11:43] wpo365 commented on #31
This must be a pretty old version that would allow you to do so. A long time ago we switched from using cookies to using WordPress user meta, because of the many issues we experienced with cookies e.g. header growing bigger than the allowed size etc. We are currently redesigning the integration and modernize our SharePoint plugin and will publish an integration example on our website in the next f

[2018-10-05 03:11] bryanwillis opened #32 "Security Groups Redirect"
I got the security group feature working, but ran into an issue with users who weren't in the security group of users allowed to access the website. If the user isn't allowed to access the site they will be redirected to the wp-login.php page as long as that page is in the blacklist.

https://example.com/wp-login.php?reauth=1&login_errors=NOT_IN_GROUP

<img width="1680" alt="screen shot 2018-10-04

[2018-10-05 03:34] bryanwillis opened #33 "First time user login issue"
This is similar to my [previously posted Issue](https://github.com/wpo365/wpo365-login/issues/32), but I wasn't sure if it was caused by the same thing so I figured I'd post it separately.

**Here's the scenario:** A newly added O365 employee/user was just sent their username and password and info about the intranet. Instead of going to try and login on Microsoft's site first they go directly to t

[2018-10-05 03:35] bryanwillis commented on #33
I thought maybe extending the "Leeway time" would fix this because maybe it was just taking too long to login, but that didn't help

[2018-10-05 06:46] wpo365 commented on #32
Hi @bryanwillis ... All of what you wrote in your issue is basically "by design". When you activate the Groups Whitelist (simply entering Azure AD Group IDs and making sure the Azure AD application registration returns the group ID's upon login) the plugin will check whether the user that attempts to sign into your website is a member of any of the groups listed in the Groups Whitelist. If this is

[2018-10-05 06:51] wpo365 commented on #33
Hi @bryanwillis The interesting part here is the TAMPERED_WITH error code. It seems that along the lines the user's context becomes invalid or that the ID token cannot be decoded successfully. Is it possible to reproduce this error and if so, could you send me the log file (directly via email)? I'm happy to investigate and find out which of the errors causes the invalidation of the login attempt.

[2018-10-12 12:37] PatchworkBoy opened #34 "Multisite"
Hi there - after some clarity regarding setup for Multisite. I've got the plugin installed in the Network dashboard and fully configured in 'Intranet' mode so theoretically all users should auth immediately, however, this only happens when they visit the root blog of the multisite. If they navigate to a subsite they can view that site without authentication. Documentation seems to be lacking on co

[2018-10-15 20:03] wpo365 commented on #34
Hi @PatchworkBoy and sorry for the delay in answering your issue, but I needed to revisit my network testing setup. Also, since your purchased the premium version, I suggest we start a direct email thread. You can send me your details through the contact form on the website [https://www.wpo365.com/contact/](https://www.wpo365.com/contact/) ...

However, having said all of that, I have tested WordP

[2018-10-16 10:47] Dihme opened #35 "Error message when new user try to login"
Hello,

I have the premium version of the plugin and i have a problem when new users try to login. The user is redirected to the wp-login page with the error "CHECK_LOG". I don't know where to find these logs. There is nothing in the PHP logs. Can you help me? Thank you.

![capture](https://user-images.githubusercontent.com/44196415/47011044-1e865680-d141-11e8-8e6c-acffd1b0a164.PNG)

[2018-10-16 11:18] wpo365 commented on #35
Hi @Dihme

Firstly, please feel free to connect directly with me per email. You can use the [email form on the website to get in touch](https://www.wpo365.com/contact/).

Secondly, to enable debug logging you can follow the instruction in the [online documentation (first paragraph)](https://www.wpo365.com/troubleshooting-the-wpo365-login-plugin/). I will happily help you analyze the log file, once

[2018-10-16 13:11] Dihme commented on #35
Thank you for the quick reply,

Il finally found out what was the problem. I had added the user to the security group, but not to the allowed users in the entreprise application. It’s OK now.

Best Regards,

[cid:image001.jpg@01D46561.FDA614A0]

Mehdi Mamou
OL ORGANISATION
Développeur Web

Groupama Stadium
10 avenue Simone Veil
CS 70712
69153 Décines Cedex

mmamou@ol.fr
Bureau +33 4 81 07 47 03

D

[2018-10-16 20:14] MarionneAtLiquid opened #36 ""Application with identifier...was not found" Error"
We're trying to use wpo365-login for single sign-on for a client. I entered their tenant ID and Azure AD Directory ID. When they tried it out, they logged into their computers and when they visited the site with the wpo365 plugin activated, they received the following error:

"AADSTS700016: Application with identifier...was not found in the directory... This can happen if the application has not b

[2018-10-16 21:01] wpo365 commented on #36
Hi @MarionneAtLiquid I'm inclined to think that Microsoft's error messages normally are pretty spot on. First of all, Azure AD Directory ID and Tenant ID is one the same ID. Did you follow the instructional [video on the website](https://www.wpo365.com/wpo365-login-documentation/) ... You can also consult this [online documentation](https://www.wpo365.com/wpo365-login-features-and-authentication-f

[2018-10-21 01:11] fuchsdaniel opened #37 "Problem to Internet Mode"
Hi,

I'm trying your product and I'd like to say first it was very easy to configure it. Congrats.
The Internet option is not working. even if a set it, system continue to request login for the website and not only for wp-admin.

Any tip?

regards,

daniel

[2018-10-21 18:59] wpo365 commented on #37
Hi @fuchsdaniel ... Very difficult to say from this point. Please enable debugging as outlined in the [online documentation](https://www.wpo365.com/troubleshooting-the-wpo365-login-plugin/) and post the log file here or send it me per email and I will have a look.

[2018-10-21 19:00] wpo365 commented on #36
@MarionneAtLiquid Can you please let me know whether you have been able to resolve the problem and I can close the issue?

[2018-10-21 19:00] #35 closed

[2018-10-21 19:01] wpo365 commented on #34
Hi @PatchworkBoy Did the problem go away and can I close the issue?

[2018-10-21 19:03] wpo365 commented on #33
Hi @bryanwillis Were you able to resolve the issue and can I close the issue?

[2018-10-21 19:03] #30 closed

[2018-10-22 05:18] wpo365 commented on #37
@fuchsdaniel It's great when problems disappear like snow melts in the sun - but it's also a bit suspicious, as things aren't supposed to work that way ... What I think happens is that your Redux options are cached by your server and probably that cache got renewed the moment you turned on WordPress debugging ... But I'm only guessing here. It would probably be a good thing to test extensively to

[2018-10-22 17:05] MarionneAtLiquid commented on #36
I'm still receiving this error. However, we are waiting for our client to
check how they're pulling the IDs.

Marionne Gapuz | Graphic Designer
Liquid Creative <http://liquidcreativestudio.com/>
office: 352.600.5050

On Sun, Oct 21, 2018 at 2:00 PM WPO365 <notifications@github.com> wrote:

[2018-10-22 17:10] fuchsdaniel commented on #37
Thanks for your reply. I will be contacting you directly since I have a specific demand with your product that maybe very interesting to us and maybe we discuss this a little further.

Regards,

Daniel

From: WPO365 <notifications@github.com>
Sent: Monday, October 22, 2018 02:31 AM
To: wpo365/wpo365-login <wpo365-login@noreply.github.com>
Cc: fuchsdaniel <daniel.fuchs@things.expert>; Mention <ment

[2018-12-05 17:28] amycirca opened #38 "Stuck in a Loop - Multisite"
I installed this plugin for an employee site that is on a multisite hosted by Flywheel. I followed this video https://youtu.be/fM4TSbNS-R4 and the plugin appear that is set up correctly but when I tested it (I logged out, went to our site, was prompted by Microsoft to login, it is stuck in a loop and won't load. Neither of the sites in the multisite are live yet. Does that make a difference? Do yo

[2018-12-05 17:42] wpo365 commented on #38
Hi @amycirca The reason when you end up in an endless loop is that the plugin cannot detect the authorization / ID token in the request sent by Microsoft when it redirects the user back to your site. The most likely reason for this is that your server is redirecting the request before it is processed and then the information Microsoft initially put in the request gets lost and as a result the requ

[2018-12-05 17:58] amycirca commented on #38
OMG That worked!!!!! I just add a slash to the end of the url and it worked!! So simple yet something I never would've figured out in a million years. THANK YOU!!!!!!!!!

[2018-12-05 22:25] #38 closed, assigned to nobody

[2018-12-05 22:29] wpo365 commented on #32
No replies received so I'm closing this issue.

[2018-12-05 22:29] #32 closed

[2018-12-05 22:32] wpo365 commented on #33
No replies received so I'm closing this issue.

[2018-12-05 22:32] #33 closed

[2018-12-05 22:36] wpo365 commented on #31
I know this is a very old thread but in the latest version of our plugins we now provide an Ajax service that can be consumed by third party app developers. Please consult the online documentation here https://www.wpo365.com/pintra-fx/

[2018-12-05 22:38] wpo365 commented on #28
Since a few months the premium version of the plugin would allow you to log out from office 365 when you log out from wordpress and then send the user to a configured web address.

[2018-12-05 22:42] wpo365 commented on #14
The premium version of the plugin offers a shortcode that renders a 'Sign in with Microsoft' button. With this shortcode you should be able to develop the customization you wish for. Please consult the online documentation https://www.wpo365.com/authentication-shortcode/

[2018-12-14 09:35] Dihme opened #39 "Premium update fail"
Hello,

I have the 4.6 version of the plugin and i want to update it but it fails. The error message is :
cURL error 6: Could not resolve host: no-download-link-found

Can you help me ? Thanks.

[2018-12-14 11:54] wpo365 commented on #39
Hi @Dihme This can happen when you didn't enter your personal download link on the first tab of the WPO365 Options page. Please contact us via the contact form on the website http://www.wpo365.com/contact/ in case you've lost your download link that was sent to you in the intial Download Notification email.

Best wishes
Thanks, Marco

[2018-12-14 15:02] Dihme commented on #39
Thank you ! So i added the link like that :

define( 'WPO_LOGIN_DOWNLOAD_LINK', 'https://www.wpo365.com/index.php?eddfile=2078%3A442%3A1%3A1&ttl=1570889327&file=1&token=021013ccb67b3bc18b630ddae27bf9e4' );

But it doesn’t work even now.
Please find my configuration in the associated file.

Best Regards,

[cid:image002.jpg@01D493C6.3720EF60]

Mehdi Mamou
OL ORGANISATION
Développeur Web

Groupama St

[2018-12-14 15:17] wpo365 commented on #39
Sorry ... You cannot post your download link on a public website nor should you post your private details. Please contact us via the contact form.

[2018-12-14 15:17] #39 closed, assigned to nobody

[2019-01-21 15:10] chrisstayton opened #40 "Cannot login in"
Using the FREE version of the plugin; after installation, per tutorial video, I go to Users > Add New to create a new user. I then add a user from my O365 tenant. I do not select a password for them. I create the account. I completely log out of the admin account and use incognito mode in chrome to log in using the O365 user. When trying to log in on the front-end of the website using the O365 use

[2019-01-21 15:23] wpo365 commented on #40
Hi @chrisstayton It seems to me that you describe errors that you'd normally see when you sign in manually using the wp login form by entering your username and password. With the plugin, however, you should, as soon as you navigate to the wordpress back end (or back- and front end depending on the selected authentication scenario) you should automatically be redirected to Microsoft to authenticat

[2019-01-21 15:26] chrisstayton commented on #40
Correct. I do NOT get redirected to any Microsoft login page. It only goes to the normal wp-login.php

[2019-01-21 16:02] wpo365 commented on #40
@chrisstayton What does happen when you click the "Test authentication" button on the Single Sign-on wizard tab? You should see that a popup opens (if not, disable the popup blocker) and then it should close if it's all set up correctly. If not, you'll probably see the error ...

[2019-01-21 16:33] chrisstayton commented on #40
A pop up opens perfectly and "Authentication tested successfully" message appears by "Test Authentication" button.

[2019-01-21 17:41] wpo365 commented on #40
Have you by any change added / and /wp-admin/ to the Pages Blacklist page? And what is the selected authentication scenario?

[2019-01-21 17:48] chrisstayton commented on #40
Yes, I have. both http:// & https://

Authentication scenario is selected to be on "internet"

[2019-01-21 18:16] wpo365 commented on #40
You mean that you have added http(s)://www.yourwebsite.com/wp-admin/ to the Pages Blacklist? That would basically disable the Plugin for the wp Admin area. So you should delete this. With internet as the selected scenario the Plugin would skip trying to authenticate the user when you access any page or post.

[2019-01-25 07:39] wpo365 commented on #40
@chrisstayton I haven't heard back from you so I assume you've been able to fix it?

[2019-01-30 11:36] Nadeemxb opened #41 "365 Avatar images not showing on backend"
Since the last update to the plugin our user images are not all showing on the wordpress backend.  About 90% of them are missing.  They all still show on the front end of the site - even in the admin bar.  Has anyone else had this issue?

[2019-01-30 12:18] wpo365 commented on #41
Hi @Nadeemxb It's the first time I heard about this but I'll investigate it and will report back here.

[2019-01-30 12:21] Nadeemxb commented on #41
Hi
Please hold off for now.  It looks like having a high interval for the Avatar refresh/sync was causing them to drop off.  I've reduced it to 1hr (as a test) and images are starting to re-appear.  Odd that they were fine on the front end still though.

[2019-01-30 23:08] chrisstayton commented on #40
No sir. Sorry was out of the country.

[2019-01-30 23:19] chrisstayton commented on #40
So, maybe I am not explaining the situation completely.

I have pages that I need to keep restricted to the public. I am using WP-Members to block those pages. The WPO365 login fails when using the WP-Members plugin and when the plugin is disabled. I removed the http(s)://www.intercotradingco.com/wp-admin/ from the blacklist too, the error still occurs.

[2019-01-31 16:15] wpo365 commented on #40
I don't know about the WP-Member plugin. However, you don't need to add all public pages to the Pages Blacklist either when you have selected Internet as the Authentication Scenario. With this scenario. all front-end pages are basically generally available to all anonymous users. If you choose Intranet as the Authentication Scenario, all front-end pages become private apart for the pages in the bl

[2019-02-01 15:12] chrisstayton commented on #40
Okay. So my best option to accomplish my goal is to...

1. Use the Intranet authentication scenario?
2. Add pages, I want the public to access, to the "Pages blacklist"?

After I do that, will the page I want to be secure (without using wp-members) be redirected to the O365 login page?

Yes, I will definitely now create a new app with new id and secrets.

[2019-02-01 17:33] wpo365 commented on #40
Basically yes, but with that scenario you can not have your landing page public - there is no way to add "/" to the pages blacklist without making all pages again publicly available ... I'm afraid it's a bit of a dead end street ... At the moment I think the "mixed" scenario is not implementable with solely this plugin ... I know of others who used plugins to make front-end pages private so that u

[2019-02-01 19:35] chrisstayton commented on #40
Okay. So here is what I did.

I created a subdomain (itcep.intercotradingco.com). I want the entire site to be used as an "Intranet". I installed the plugin and everything tested fine regarding authentication. But when I actually go to the website login using the O365 credentials, it tries to redirect a few moments then it displays an error

I think it is some sort of loop. How do I fix it?

Ive i

[2019-02-01 20:07] wpo365 commented on #40
Let's continue per direct email - it's easier and you don't need to "hide" all details. Please contact me direct at info at wpo365.com. In the mean time, what happens if you click Test Authentication? Normally, when the application is looping, I recommend that - when you use Chrome browser - start Developer Tools (F12), activate the Network Tab, click Preseve log (and disable cache) and then look

[2019-02-04 15:50] chrisstayton commented on #40
When I click on Test Authentication, a pop-up window appears and closes. I get an “Authentication tested successfully”. I've attached a PDF of screenshots I took while looking at the log in Developer mode in Chrome.

Please help with this issue. Thank you so much for your time and efforts.

Christian Stayton
[Interco Trading Co.]<http://www.intercotradingco.com/>
10 Fox Industrial Park Bldg 3 • Ma

[2019-02-04 17:01] chrisstayton commented on #40
Okay. I sent you an email. Please resond as soon as possible. Thank you for all of your help!

[2019-02-26 15:46] TomBayne commented on #24
Was this fixed? I am having the same issue on HTTP (no SSL). Do I need SSL?

[2019-02-26 15:47] TomBayne opened #42 "Cannot login when using HTTP"
Hi, I recieve an error 'Your login has been tampered with" when trying to log in. I am using HTTP, with no SSL. Is this the problem?

[2019-02-26 15:50] chrisstayton commented on #42
From my experience, you will have to go to portal.office.com and completely log out. Then go to the website where the WPO365 Login Plugin is installed and try again. Its an issue with Microsoft, not the plugin. Also, be sure to add the user to WordPress.

[2019-02-26 20:07] wpo365 commented on #42
Hi @tb0111  There can be multiple reasons for this error to occur. If possible, please activate WordPress debug logging as described in the [first paragraph on the website](https://www.wpo365.com/troubleshooting-the-wpo365-login-plugin/) and send me the log file (info at wpo365.com) ... I'm happy to have a look. A possible reason can be caching (see the [online documentation](https://www.wpo365.co

[2019-02-27 13:13] TomBayne commented on #42
This worked

[2019-02-27 13:13] #42 closed, assigned to nobody

[2019-03-13 09:16] Nadeemxb commented on #41
Same problem again.  However a different cause.  If we enable multi-factor authentication for accounts in 365 then those accounts do not sync gravatar images.  Is this a known issue or is there a setting we need to change within the plugin for multi-factor enabled accounts?

[2019-03-13 12:45] wpo365 commented on #41
Hi @Nadeemxb I think MFA is indeed preventing the plugin to get an access token from Azure AD. You should look for ways to exclude the Application Registration from MFA e.g. using conditional access https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/app-based-mfa.

[2019-03-13 12:45] #41 closed, assigned to nobody

[2019-03-19 12:58] melcirca opened #43 "Reply URL specified does not match reply URLs"
Hello, I am trying to connect my flywheel site with the sign on plugin. I'm attaching screenshots of what they look like. I'm getting an error message that says the Reply URLs do not match what was configured for the website.

https://login.microsoftonline.com/7377e3e4-e31c-4f36-8709-c5346fbf3e59/oauth2/authorize?client_id=11de40c8-d3af-453a-8f08-375eb58b5828&response_type=id_token+code&redirect_u

[2019-06-12 16:07] bluenevus opened #44 "after last update 5 days ago, it errors saying it can't find user"
after last update 5 days ago, it errors saying it can't find user then goes to a 404 error

[2019-06-12 16:38] wpo365 commented on #44
Microsoft recently moved from App registration V1 to V2 and with that a number of “defaults” changed and I followed with the plugin. Basically, the ID token received from Microsoft contains less “default” claims and some tokens that the plugin used to “fill in” you should either now request explicitly or you should check the box Use older ID token parser on the Miscellaneous tab. To request the no

[2019-06-12 17:07] bluenevus commented on #44
thanks.  works great

[2019-06-12 17:07] #44 closed, assigned to nobody

[2019-07-26 16:38] eft0stuff opened #45 "pre login page"
Exist any option to show a pre-logon page to the user instead of directly go to the Office 365 Login page?, wish to show the main with a "click here" to login -> Office 365 -> Main intranet website.

Thanks in advanced.

[2019-07-26 17:07] wpo365 commented on #45
Yes, but not in the BASIC edition. The PROFESSIONAL (and PREMIUM) version, however, offer multiple features that you can combine:

- Dual Login [https://www.wpo365.com/redirect-to-login/](https://www.wpo365.com/redirect-to-login/)
- Sign in with Microsoft shortcode [https://www.wpo365.com/authentication-shortcode/](https://www.wpo365.com/authentication-shortcode/)

The latter you can combine with

[2019-08-07 14:44] neilhoff opened #46 "Blank screen in IE: Sets Document mode to 5 in Internet Explorer"
If you change the document mode to 11 it works great.

![image](https://user-images.githubusercontent.com/1918319/62632302-e29ec680-b8f7-11e9-9deb-822fcb999964.png)

[2019-08-07 14:58] wpo365 commented on #46
Hi @neilhoff - Just wondering: What causes (in your opinion) the document mode being set to 5? Can it be your custom theme?

[2019-08-07 15:02] neilhoff commented on #46
Document mode gets set to 5 when going to a private page. It looks like it happens before or during the redirection to the o365.

You can test it at https://wordpresstest.skyline.com/
The "About" page is private.

[2019-08-07 15:06] neilhoff commented on #46
Here is the Network analysis. It looks like it is happening somewhere in pintra-redirect.js

![image](https://user-images.githubusercontent.com/1918319/62634044-d49e7500-b8fa-11e9-8e8f-3aef507c3ade.png)

[2019-08-07 15:31] wpo365 commented on #46
Not sure but when I navigate to the link you posted I get redirected correctly to Microsoft Online and I am asked to authenticate (using IE 11) ... I do agree, however, that the plugin doesn't output a proper HTML document but only a snippet ... I'll look into this but at the moment I don't see the blank screen in IE 11 ...

[2019-08-17 12:37] wabj opened #47 "Cant logout"
Hi,

great plugin! I've configured the basic version and it works really well, although when I click logout it takes me to the Wordpress login page, but when I click return to intranet it doesn't ask me to login again.

I've read the 'Cannot logout' post on here but it hasn't helped me. I'm not using any other plugins. Any advise would be great!

[2019-08-17 19:42] wpo365 commented on #47
Hi @wabj - Basically what happens is not that you're not asked to login again. However, because you don't sign out of Office 365 you're "silently" signed in. You should be able to see that you're still being re-routed to Microsoft and then back to your website, the moment you click back (e.g. by opening your browser's Developer Tools and look at the network tab [make sure to check "preserve log"])

[2019-08-17 19:58] wabj commented on #47
That option isn't available in the basic version?

Under the configuration header is it Yes to basic but under supported version it says no

Sent from my iPhone.

On 17 Aug 2019, at 20:42, WPO365 <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @wabj<https://github.com/wabj> - Basically what happens is not that you're not asked to login again. However, because you don't sign

[2019-09-07 14:25] staete opened #48 "Keeps refreshing"
Hi there!

I'm using the WPO365 plugin for a while now. I had some problems with SSL and the redirection from the Microsoft login page back to the website. In the beginning the plugin kept refreshing and/or forwarding it after logging in between the website and the login screen.

After some research I found out there was an URL conflict between https:// and https://www. Therefore I had to rewrite

[2019-09-14 07:06] wpo365 commented on #48
Hi @staete and really sorry for the belated reaction! It is not possible to support both addresses because the plugin only supports one Redirect URI. This means that if your Redirect URI is configured to be https://www... and your user is coming via https://... (without www) and is not redirected by the entry in .htaccess then the plugin will still add the https://www... Redirect URI as a paramete

[2020-11-10 22:15] alexkillby opened #49 "Not finding existing user"
Excuse me if this is a problem of my own making, but all of the sudden I have a certain selection of users from the O365 tenant the app is registered with (it allows external users as well) and none of the users can authenticate. After troubleshooting it seems that during the login process despite having existing Wordpress users matching all Azure identity UPN's that are trying to authenticate, bu

[2020-11-10 22:25] wpo365 commented on #49
@alexkillby Please open a new support request (see [https://www.wpo365.com/contact/](https://www.wpo365.com/contact/)).

[2020-11-10 22:26] #49 closed, assigned to nobody

[2021-02-18 03:14] lraikhman opened #50 "Passthru SSO broken for devices joined to Azure AD"
Hi,

We've tested this thoroughly across the following configs:

- Machine is AAD Hybrid Joined
- Machine is AAD Registered
- Machine is AAD Workplace Joined

In all cases we've tested with Edge Chromium, logged into a Microsoft account.

In the case of the first two, everything works fine.

For machines that are pure Workplace Joined, we have an issue as per the attachment.

![ConnectWise Control

[2021-07-09 08:30] R3alflash opened #51 "some Users cannt login"
Hey,

since some days some users cannt login with sso. There is the error message "Your ID token could not be processed. Please contact your System Administrator."

Azure AD said no error

WP Plugin Log said:

07-09-2021 08:25:26.309593
ERROR
Wpo\Services\Authentication_Service::authenticate_oidc_user -> ID token could not be extracted from request storage.

Do you have any help?

PS: We have an l

[2021-07-09 08:34] wpo365 commented on #51
Hi

Can you please re-send your request via http://www.wpo365.com/contact/? This will add your request to the support queue and hence is tracked!

Thanks you for your patience!

- Marco

[2021-07-09 08:37] R3alflash commented on #51
sure :)

[2021-07-09 08:37] #51 closed, assigned to nobody

[2021-07-13 14:36] kloaier commented on #50
Hi @lraikhman,

I see your issue and I am facing the same problem on my system.

Did you find a solution ? I will be happy to discuss this subject with you.

Thanks.

[2021-12-01 10:13] tyrann0us opened #52 "Please use this GitHub repository and use tags on WordPress.org"
Hi @wpo365,

I noticed that you don't actively use this repository when working on the plugin. Instead, you directly work in the WordPress.org SVN repository. Given this and the fact that you don't use tags there (see this support thread: https://wordpress.org/support/topic/adopt-the-use-of-release-tags/) makes it impossible to consume older versions of the plugin.

This is problematic because esp

[2022-06-20 09:13] QuentinLegrand opened #53 "Dual Login - unable to only keep the SSO"
Hello,

I've checked in the setting of dual login and i did not find the option to only leave the sso as login.
It is only possible ?

Thanks,
Best regards.

[2022-09-18 06:45] Chuvantinh commented on #40
Hi ,

did you find any solutions for this problem ? I have got also same problem. After success login with microsoft 365 I have an account in wordpress databases. Then I try to use form login of wordpress but I can not sign in.

is that some thing wrong in config or is this not possible  ?

thanks

[2022-09-18 07:55] wpo365 commented on #40
@Chuvantinh Please use either the [WordPress Support Forum](https://wordpress.org/support/plugin/wpo365-login/) or [contact us directly via the website](https://www.wpo365.com/contact/).